<%- include("partials/header.ejs") %>

<div class="container">
    <h1>Current User is <span><%= user.name %></span> and your userID is <span><%= user.id %></span></h1>
</div>
<div class="container">
    <ul>
       <% usersAll.forEach(singleUser => { %>
        <li><a href="\users\<%= singleUser.id %>"><%= singleUser.name %></a></li>
       <% }) %>
        
    </ul>

</div>


<%- include("partials/footer.ejs") %>